In [5]:
from data_loader import DataLoader
from classes import NewFeatures, FlightPerformance, AirlineDelays
from imports import *
from config import EXCEL_FILE

In [20]:
# Load the Excel file using the path defined in config.py
xls = pd.ExcelFile(EXCEL_FILE)

# Check the available sheet names
print(xls.sheet_names)

# Load the specific sheets for Arrival and Departure 2023
df_arrival_2023 = pd.read_excel(xls, sheet_name='Arrival 2023', header=3)
df_departure_2023 = pd.read_excel(xls, sheet_name='Departure 2023', header=3)

# Keep only the first 11 rows for both arrival and departure
Arrival_BRU2023_StatBel = df_arrival_2023.iloc[:12].reset_index(drop=True)
Departure_BRU2023_StatBel = df_departure_2023.iloc[:12].reset_index(drop=True)

# Add an 'Arrival' column for arrival data (1 for arrival, 0 for departure)
Arrival_BRU2023_StatBel['Arrival'] = 1
Arrival_BRU2023_StatBel['Departure'] = 0

# Add a 'Departure' column for departure data (0 for arrival, 1 for departure)
Departure_BRU2023_StatBel['Arrival'] = 0
Departure_BRU2023_StatBel['Departure'] = 1

# Concatenate the two dataframes
BRU2023_StatBel = pd.concat([Arrival_BRU2023_StatBel, Departure_BRU2023_StatBel], ignore_index=True)

# Reset the index for readability
BRU2023_StatBel = BRU2023_StatBel.reset_index(drop=True)

# Display the combined dataframe
BRU2023_StatBel

['Air transport', 'Arrival 2023', 'Departure 2023', 'Arrival 2022', 'Departure 2022', 'Arrival 2021', 'Departure 2021', 'Arrival 2020', 'Departure 2020', 'Arrival 2019', 'Departure 2019']

,Month,Number of passengers,Freight and mail on board (in tonnes),Number of flights,Number of passenger seats available,Arrival,Departure
0,2023-01,691922,21011,6118,927832,1,0
1,2023-02,666060,21777,5868,879726,1,0
2,2023-03,809400,26502,6814,1014149,1,0
3,2023-04,889351,24878,7489,1144333,1,0
4,2023-05,1055007,24189,8204,1261368,1,0
5,2023-06,987573,24183,8126,1241004,1,0
6,2023-07,1056025,22946,8709,1381649,1,0
7,2023-08,1225927,23181,8609,1364889,1,0
8,2023-09,1101558,21910,8260,1295997,1,0
9,2023-10,996671,28125,8098,1249632,1,0
10,2023-11,849500,24106,6909,1060104,1,0
11,2023-12,753514,21155,6744,1045857,1,0
12,2023-01,634022,22717,6133,926527,0,1
13,2023-02,694672,25163,5891,881000,0,1
14,2023-03,793392,28693,6890,1018371,0,1
15,2023-04,960150,26273,7548,1154910,0,1
16,2023-05,1015218,25003,8223,1259676,0,1
17,2023-06,1030585,25482,8171,1244982,0,1
18,2023-07,1273839,24891,8801,1386219,0,1
19,2023-08,1034584,25682,8587,1361145,0,1
20,2023-09,1039586,24537,8299,1293826,0,1
21,2023-10,1019330,25014,8107,1247274,0,1
22,2023-11,764928,23134,6969,1059654,0,1
23,2023-12,841808,20292,6809,1044928,0,1